@import '../../assets/global.scss';

.homeLink {    
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;

    font-family: 'Fontdiner Swanky';
    text-decoration: none;
    color: $color-black;
    transition: 0.2s;
    font-size: x-large;
    &:hover {
        color: rgb(85, 84, 84);
    }
}

.createRoom {
    display: block;
}

.header-createRoom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    
    padding: 10px;
    border-bottom: 1px solid gray;

    .block {
        flex-grow: 4;
    }

    .finishQuiz {
        text-align: right; 
    }

}

.question-choosed {
    display: flex;
    flex-direction: column;
    align-items: center;
     
    & > * {
        margin: 10px;
    }
}