@import '../../../assets/global.scss';

$border-radius: 20px;

.block-question {
    height: 220px;
    width: 600px;
    background-color: aliceblue;
    border-radius: $border-radius;
    box-shadow: 2px 2px 3px black;

    display: grid;
    grid-template-columns: 1fr 4fr;

    .number {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 3px solid $color-black; 
        position: relative;
        
        &:hover > .remove-question {
            opacity: 1;
        }
    }

    .remove-question {
        background: none;
        border: none;
        position: absolute;
        bottom: 5px;
        opacity: 0;
        transition: 0.1s;
    }

    .main {
        display: grid;
        grid-template-rows: 1fr 1fr;

        .question{
            textarea {
                height: 100%;
                width: 100%;
                resize: none;
                border-top-right-radius: $border-radius;
                padding: 5px;
            }
        }

        .answers {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            .triangle {
                background-color: $color-triangle;
            }
            .lozenge {
                background-color: $color-lozenge;
            }
            .circle{
                background-color: $color-circle;
            }
            .square {
                background-color: $color-square;
                border-bottom-right-radius: $border-radius;
            }
            input {
                background: none;
                border: none;
            }
        }
    }
}