//variables
$color-black: rgb(36, 36, 36);

// Color of answer
$color-triangle: #ff2145;
$color-lozenge: #45a3e3;
$color-circle: #ffbf0a;
$color-square: #66bf3b;

// Color of answer
$color-triangle-light: #ff5175;
$color-lozenge-light: #45d3e3;
$color-circle-light: #ffef0a;
$color-square-light: #66ef3b;